<p>apex charts</p>

<div style="text-align:center">
  <apx-chart
    #chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [title]="chartOptions.title"
    [fill]="chartOptions.fill"
    [markers]="chartOptions.markers"
    [stroke]="chartOptions.stroke"
    [plotOptions]="chartOptions.plotOptions"
  ></apx-chart>
</div>
<div  style="text-align:center">
  <apx-chart
    [series]="barChartOptions.series"
    [chart]="barChartOptions.chart"
    [title]="barChartOptions.title"
    [plotOptions]="barChartOptions.plotOptions"
  ></apx-chart>
</div>
